.extra {
  margin-top: 75px;
  &-title {
    @include title();
  }
  &-desc {
    margin-top: 11px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      text-decoration: none;
      color: $primary-color;
    }
  }
  &-event {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__image {
      border-radius: 10px;
      width: 422px;
      height: 185px;
    }
  }
}
